.menuSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.leftColumn,
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.leftColumn,
.rightColumn {
  text-align: center;
}

.menuList {
  list-style-type: none;
  padding: 0;
}

.picture {
  width: 30%;
  text-align: center;
}

.picture img {
  width: 100%;
  height: auto;
}
